/* footer */

.footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: #242935;
  color: #fff;

}

.footer--wrapper {
  display: flex;
  width: 1388px;
  margin: 82px 0 60px 0;

  @media (max-width: 1400px) {
    margin: 82px 0 60px 10px;
  }

  @media (max-width:988px) {
    justify-content: space-between;
  }

  @media (max-width: 800px) {
    margin: 40px 0 30px 10px;
  }

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
  }
}

.footer--logo {
  display: block;
  margin: 0 0 30px 0;

  &-svg {
    width: 129px;
    height: 37px;
    fill: none;
  }
}

.footer--wrapper-text {
  width: 353px;
}

.nav_wrapper {
  @media (max-width:988px) {
    display: flex;
  }

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.phone {
  @media (max-width: 800px) {
    margin: 0 0 20px 0;
  }
}

.phone_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
}

.phone_number {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;

  /* or 31px */
}