/* Header */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #E5E5E5;
}

.header--inner{
  margin: 27px 0 0;
  width: 1492px;
}

.header--logo {
  display: block;
}

.nav_header a {
  color: $color_text;
}


.link_phone {
  display: flex;
  padding: 0 88px;
  color: $color_text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  &-number {
    padding: 0 0 0 7px;
  }
}