/* Header */

.header {
  //position: fixed;
  //z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #E5E5E5;
}

.header--inner {
  margin: 27px 0 0;
  width: 1492px;

  .wrapper_flex{
    @media (max-width: 670px) {
      width: 60%;
      justify-content: space-between;
    }

    @media (max-width: 464px) {
      flex-direction: column;
    }
  }
}

.header--logo {
  display: block;

  @media (max-width: 1520px) {
    margin: 0 0 0 10px;
  }

  @media (max-width: 670px) {
    width: 40%;
  }

  &-svg {
    width: 129px;
    height: 37px;
  }
}



.link_phone {
  display: flex;
  padding: 0 88px;
  color: $color_text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  white-space: nowrap;

  @media (max-width: 670px) {
    padding: 0 10px 0 0;
  }

  @media (max-width: 464px) {
    padding: 10px 0 0;
  }

  &-svg {
    width: 19.89px;
    height: 19.93px;
    fill: none;
    stroke: #2F343A;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &-number {
    padding: 0 0 0 7px;
  }
}