/* loans */

.loans {
  display: flex;
  flex-direction: column;
  width: 1496px;
  background: linear-gradient(100.16deg, #FF461B 7.74%, #FF7A00 108.82%);
  border-radius: 20px;
  margin: 329px auto 191px;
  padding: 161px 0 145px 126px;
  position: relative;
  color: #fff;

  @media (max-width: 1496px) {
    padding: 161px 0 145px 10px;
    width: 100vw;
  }

  @media (max-width: 1024px) {
    align-items: center;
    padding: 40px 0 70px 0;
    margin: 129px auto 580px;
    width: 100vw;
  }

  @media (max-width: 464px) {
    padding: 40px 0 70px 0;
    margin: 60px auto 580px;
  }
}

.loans_title {
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 130%;
  /* or 70px */

  @media (max-width: 1200px) {
    font-size: 36px;
  }

  @media (max-width: 1024px) {
    margin: 0 0 20px 0;
  }

  @media (max-width: 500px) {
   text-align: center;
   font-size: 36px;
  }

  @media (max-width: 380px) {
    font-size: 24px;
   }
}

.loans_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  @media (max-width: 500px) {
    text-align: center;
   }
}