/* requirements */

.requirements {
  display: flex;
  justify-content: flex-end;
  padding: 88px 0 90px 0;
  position: relative;
  width: 77.97%;
  background: linear-gradient(123.67deg, #EFF3F9 30.01%, #FFF 101.62%);
  border-radius: 20px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    justify-content: center;
    padding: 44px 0 45px 0;
  }

  @media (max-width: 464px) {
    width: 100%;
  }

  h2 {
    margin: 0 0 31px 0;
  }

  .orange_line {
    margin: 31px 0 53px 0;
  }

  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }

  &--lists {
    width: 634px;

    @media (max-width: 1024px) {
      width: 80%;
    }
  }

  ul {
    list-style-image: url(../img/icons/green_dot.svg);
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    margin: 41px 0 0 20px;
  }

  &--lists-line {
    width: 562px;
    border: 1px solid #BDC6CF;
    margin: 72px 0 64px 0;

    @media (max-width: 1024px) {
      width: 100%;
      margin: 36px 0 32px 0;
    }
  }

}

.avto {
  position: absolute;
  top: 0;
  left: -14.16%;

  @media (max-width:1580px) {
    z-index: -1;
  }

  @media (max-width:1023px) {
    left: 0;
    z-index: 1;
    opacity: .1;
    max-width: 100%;
  }
}