/* shield_block */

.shield_block {
  p {
    padding: 0 0 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    
    color: #2F343A;

    a {
      color: #65a4f0;
    }
  }
}