/* slider */

.slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 130px 130px 0 215px;
  background: #E5E5E5;

  @media (max-width:1670px) {
    padding: 130px 0 0;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 1023px) {
    padding: 30px 0 0 0;
  }

  &--wrapper-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 670px) {
      align-items: center;
      text-align: center;
    }
  }

  &--title {
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 130%;

    @media (max-width: 1023px) {
      font-size: 36px;
    }

    @media (max-width: 670px) {
      font-size: 28px;
    }

    @media (max-width: 370px) {
      font-size: 22px;
      width: 80%;
    }
  }

  &--title span {
    font-weight: bold;
  }

  &--text {
    margin: 40px 0 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    @media (max-width: 520px) {
      width: 50%;
    }
  }


}

.bg_grad {
  display: flex;
  position: relative;
  width: 671px;
  height: 739px;
  background: linear-gradient(180deg, #FF4550 0%, #FF7A00 100%);
  border-radius: 40px 40px 0px 0px;

  @media (max-width: 800px) {
    width: 85%;
    height: 539px;
  }

  @media (max-width: 464px) {
    height: 439px;
    width: 100%;
  }

  @media (max-width: 370px) {
    height: 339px;
  }
}

.avto_yaz {
  position: absolute;
  top: 125px;
  right: 59px;

  @media (max-width: 1023px) {
    max-width: 100%;
  }

  @media (max-width: 800px) {
    transform: translateY(-50%);
    top: 50%;
    right: 0;
  }
}