<footer class="footer">
  <div class="footer--wrapper">
    <div class="wrapper">
      <a class="footer--logo link" href="index.html">
        <svg class="footer--logo-svg">
          <use xlink:href="#footer_logo"></use>
        </svg>
      </a>
      <div class="footer--wrapper-text">
        <p>
          Займы наличными под низкий процент.
        </p>
        <p>
          Быстрое решение по заявке.
        </p>
      </div>
      <!-- /.footer--wrapper-text -->
    </div>

    <div class="nav_wrapper">

      <!-- phone -->
      <div class="phone">
        <p class="phone_text">тел</p>
        <p class="phone_number">8(863) 102 10 20</p>
      </div>
      <!-- /.phone -->

      <!-- nav_footer -->
      <nav class="nav nav_footer">
        <a class="nav--link link" href="#conditions">Условия</a>
        <a class="nav--link link" href="#requirements">Требования</a>
        <a class="nav--link link" href="#loans">Заявка</a>
        <a class="nav--link link" href="#help">Помощь</a>
        <a class="nav--link link" href="#">Политика конфидициальности</a>
      </nav>
      <!-- /.nav_footer -->
    </div>

    <!-- /.footer--wrapper -->
</footer>
<!-- /.footer -->