<!-- header -->
<header class="header">
  <!-- wrapper_flex -->
  <div class="wrapper_flex header--inner">

    <a class="header--logo link" href="index.html">
      <svg class="header--logo-svg">
        <use xlink:href="#logo"></use>
      </svg>
    </a>
    <div class="wrapper_flex">
      <!-- nav_header -->
      <nav class="nav nav_header">
        <a class="nav--link link" href="#conditions">Условия</a>
        <a class="nav--link link" href="#requirements">Требования</a>
        <a class="nav--link link" href="#loans">Заявка</a>
        <a class="nav--link link" href="#help">Помощь</a>
      </nav>
      <!-- /.nav_header -->
      <a class="link_phone" href="tel:8(863) 102 10 20">
        <svg class="link_phone-svg">
          <use xlink:href="#phone"></use>
        </svg><span class="link_phone-number">8(863) 102 10 20</span></a>
    </div>
  </div>
  <!-- /.wrapper_flex -->

</header>
<!-- /.header -->