/* Default styles */

@import 'src/assets/sass/normalize';
@import 'src/assets/sass/vars';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    /* or 49px */
}

body {
    font-family: $font;
    font-style: normal;
    color: $color_text;
    background: #fff;
}


/* blocks */
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/wrapper_flex';
@import 'blocks/wrapper_flex_center';
@import 'blocks/wrapper_flex-collumn';
@import 'blocks/nav';
@import 'blocks/slider';
@import 'blocks/orange_line';
@import 'blocks/input';
@import 'blocks/btn';
@import 'blocks/shield_block';
@import 'blocks/btn_shield_block';
@import 'blocks/conditions';
@import 'blocks/benefit';
@import 'blocks/benefits';
@import 'blocks/requirements';
@import 'blocks/loans';
@import 'blocks/calc';
@import 'blocks/help';
@import 'blocks/footer';

/* vendor libs */
@import 'vendors/slick';
//@import '../../../node_modules/swiper/swiper-bundle';
//@import 'vendors/swiper';